.App {
  margin: auto;
  width: 400px;
  text-align: center;
}

table.gameBoard{
  border-spacing:0px;
  border:  4px solid black;
}
table.gameBoard td{
  font-size: larger;
  line-height: 15px;
  width: 15px;
  border:  1px solid black;
  margin: 0px;
}
table.gameBoard td.empty{
  background-color: white;
}

table.gameBoard td.verticalBorder{
    border-right: 4px solid black;
}
table.gameBoard td.horizontalBorder{
  border-bottom: 4px solid black;
}

input{
  padding-left: 10px;
  margin: 0px;
  border: none;
  font-size: xx-large;
}
